.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  background: #ffffff;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.chat-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 100vh;
  margin-top: 75%;

  @media (max-width: 1440px) {
    margin-top: 15%;
  }
  @media (max-width: 1024px) {
    margin-top: 0;
  }
}
