:host ::ng-deep .p-button {
  width: calc(100% - 32px) !important;
  margin: 0 1em 0.8em 1em !important;
  padding: 1em 1.5em;
  display: flex;
  align-items: stretch;
  border-radius: 1em !important;
  position: relative;
}

:host ::ng-deep .p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-button.w-100.ai-companion {
  background: var(--button-chat-primary-bg) !important;
  color: var(--text-chat-color) !important;
}

:host ::ng-deep .p-button.w-100.direct-chat {
  background: var(--button-chat-secondary-bg) !important;
  color: var(--text-chat-color) !important;
}

:host ::ng-deep .p-button.w-100.group-chat {
  background: var(--button-chat-third-bg) !important;
  color: var(--text-chat-color) !important;
}

:host ::ng-deep .p-button .arrow-icon {
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-chat-color) !important;
  pointer-events: none;
}
