.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid var(--divider-color);
  min-height: 32px;
  background: var(--content-bg-color);
}

.chat-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--text-color);
  line-height: 28px;
  text-align: center;
  font-weight: 400;
  width: max-content;
}

.chat-header button.p-button {
  background: none;
  box-shadow: none;
  color: var(--text-color);
}

.chat-header button.p-button:focus,
.chat-header button.p-button:active {
  outline: none;
  box-shadow: none;
}
