onecx-chat-ui/src/app/shared/
onecx-chat-ui/src/app/shared/generated/.openapi-generator/FILES
onecx-chat-ui/src/app/shared/generated/api/api.ts
onecx-chat-ui/src/app/shared/generated/api/chatComponent.service.ts
onecx-chat-ui/src/app/shared/generated/api/chats.service.ts
onecx-chat-ui/src/app/shared/generated/api/searchConfig.service.ts
onecx-chat-ui/src/app/shared/generated/model/chatComponent.ts
onecx-chat-ui/src/app/shared/generated/model/chatComponentSearchResult.ts
onecx-chat-ui/src/app/shared/generated/model/createSearchConfigRequest.ts
onecx-chat-ui/src/app/shared/generated/model/createSearchConfigResponse.ts
onecx-chat-ui/src/app/shared/generated/model/getSearchConfigInfosResponse.ts
onecx-chat-ui/src/app/shared/generated/model/getSearchConfigResponse.ts
onecx-chat-ui/src/app/shared/generated/model/models.ts
onecx-chat-ui/src/app/shared/generated/model/searchChatComponentRequest.ts
onecx-chat-ui/src/app/shared/generated/model/searchChatComponentResponse.ts
onecx-chat-ui/src/app/shared/generated/model/searchConfig.ts
onecx-chat-ui/src/app/shared/generated/model/searchConfigInfo.ts
onecx-chat-ui/src/app/shared/generated/model/searchConfigInfoList.ts
onecx-chat-ui/src/app/shared/generated/model/updateSearchConfigRequest.ts
onecx-chat-ui/src/app/shared/generated/model/updateSearchConfigResponse.ts
