<app-chat-slider
  [(visible)]="_sidebarVisible"
  [modal]="false"
  [position]="'right'"
  [styleClass]="'onecx-chat-sidebar p-0'"
>
  <div class="onecx-companion-container">
    <!-- Navigator manages all page navigation -->
    <app-navigator></app-navigator>
  </div>
</app-chat-slider>
<div class="layout-topbar-item">
  <p-button
    styleClass="chat-button p-button-rounded p-button-text"
    [attr.aria-label]="'CHAT.TITLE_AI' | translate"
    [pTooltip]="'CHAT.TITLE_AI' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
    (onClick)="_sidebarVisible = true"
  >
    <i class="pi pi-comments fs-xlarge p-button-icon" style="background: transparent; border: none;"></i>
  </p-button>
</div>
