<app-chat-slider
  [(visible)]="_sidebarVisible"
  [modal]="false"
  [position]="'right'"
  [styleClass]="'onecx-chat-sidebar p-0'"
>
  @let vm = viewModel$ | async;
  @if (vm) {
    <div class="onecx-companion-container">
      @if (!selectedChatMode) {
        <app-chat-initial-screen (selectMode)="selectChatMode($event)"></app-chat-initial-screen>
      }
      @if (selectedChatMode === 'direct') {
        <app-new-direct-chat (back)="selectedChatMode = null"></app-new-direct-chat>
      }
      @if (selectedChatMode && selectedChatMode !== 'direct') {
        <div class="chat-interface" [@slideIn]>
          <app-chat-header
            [title]="vm.chatTitleKey | translate"
            [showBack]="true"
            [showClose]="false"
            (backClicked)="goBack()"
          ></app-chat-header>
          @if (selectedChatMode === 'ai') {
            <app-chat-list
              [chats]="vm.chats"
              [loading]="vm.chats === undefined"
              [selectedChat]="vm.currentChat"
              (chatSelected)="chatSelected($event)"
              [menuItems]="(menuItems | async) ?? []"
            ></app-chat-list>
          }
          <app-chat
            [chatMessages]="vm.currentMessages ?? []"
            (sendMessage)="sendMessage($event)"
            (retrySendMessage)="sendMessage($event)"
          ></app-chat>
        </div>
      }
    </div>
  }
</app-chat-slider>
<div class="layout-topbar-item">
  <p-button
    styleClass="chat-button p-button-rounded p-button-text"
    [attr.aria-label]="'CHAT.TITLE_AI' | translate"
    [pTooltip]="'CHAT.TITLE_AI' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
    (onClick)="_sidebarVisible = true"
  >
    <i class="pi pi-comments fs-xlarge p-button-icon" style="background: transparent; border: none;"></i>
  </p-button>
</div>