.layout-topbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.onecx-chat-button {
  &:hover {
    background-color: rgba(54, 128, 192, 0.1) !important;
  }
  
  .pi-comments {
    font-size: 1.2rem;
    transition: color 0.2s ease;
    
    &:hover {
      color: #2968a3 !important;
    }
  }
}