<div class="chatUi">
    <div class="chatOverview">
        <div class="newChat">   
            New Chat
            <button pButton icon="pi pi-external-link" (click)="selectChat('NewChat')"></button>
        </div>
        <div class="chat" *ngFor="let chat of this.chats">
            <button pButton class="chat" label="{{chat.summary}}" (click)="selectChat(chat.id!)"></button>               
        </div>
    </div>
    <div class="currentChat">
        <div id="newChat" *ngIf="selectedChat.id == 'NewChat'">
            <p-dropdown [options]="topics"></p-dropdown>
        </div>

        <div *ngIf="selectedChat.id != 'NewChat'" class="selectedChat" id="selectedChat">
            <div id=chatHeader>
                <h4>{{selectedChat.summary}}</h4>
            </div>
            <div id="message" *ngFor="let message of messages">
                <h5>{{ message.userName }}</h5>
                {{ message.text }}
            </div>
        </div>
        
        <p-toast/>

        <div id="actionBar">
            <textarea
            rows="1"
            pInputTextarea
            autoResize="autoResize"
            [(ngModel)]="messageText"
            (keydown)="keyDownFunction($event)"
            id="textarea"
            ></textarea>
            <button pButton icon="pi pi-send" (click)="sendMessage()"></button>
            <button pButton icon="pi pi-users" (click)="showUserManagement()" *ngIf="selectedChat.id != '-1'"></button>
        </div>

        <p-dialog [(visible)]="userManagementVisible"
                    [modal]="true"
                    [draggable]="false"
                    [resizable]="false">
            <div class="participantManagement">
                <input pInputText 
                        type="text" 
                        id="userSearch" 
                        [(ngModel)]="userSearchText"
                        (keydown)="searchUser()"
                        (focus)="searchUser()"
                        (focusout)="hideSearchResults()"
                        (autocomplete)="false"/>
                <div id="searchResults" *ngIf="showSearchResults">
                    <span *ngFor="let user of searchResult">
                        {{user.userName}} <button pButton icon="pi pi-user-plus" (click)="addParticipant(user)"></button><br/>
                    </span>
                </div>
                
                <div id="participantList">
                    <span *ngFor="let participant of tempParticipants">
                        {{participant.userName}} <button pButton icon="pi pi-minus" (click)="removeParticipant(participant)"></button><br/>
                    </span>
                </div>
                <div id="actionButtons">
                    <button pButton id="confirm" (click)="confirm()">Confirm</button>
                    <button pButton id="Cancel" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
