.chat-settings-form {
  padding: 1rem;
  
  .field {
    margin-bottom: 1.5rem;
  }
}

:host ::ng-deep .form-label {
  display: block;
  color: var(--gray-500);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

:host ::ng-deep .form-input {
  border-radius: 2px;
  border: 1px solid var(--input-border-color);
}
