:host ::ng-deep .p-tabview-nav {
  display: flex;
}

:host ::ng-deep .p-tabview-nav li {
  flex: 1;
}

:host ::ng-deep .p-tabview-nav-link {
  justify-content: center;
}

.chat-options {
  border-top: 0.2px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  padding: 20px;
}

:host ::ng-deep .chat-button.p-button {
  background-color: white !important;
  height: 59px;
  width: 59px;
  border-style: solid;
  border-width: 2px;  
  border-radius: 16px;  
  font-size: 24px;
  font-weight: bold;
}

:host ::ng-deep .p-button-icon {
  font-size: 24px;
  font-weight: bold;
}

:host ::ng-deep .ai-companion.p-button {
  color: var(--chat-ai-companion-bg) !important;
}

:host ::ng-deep .direct-chat.p-button {
  color: var(--chat-direct-chat-bg) !important;
}

:host ::ng-deep .group-chat.p-button {
  color: var(--chat-group-chat-bg) !important;
}