/* Avatar shape circle */
:host ::ng-deep .p-avatar {
  border-radius: 50% !important;
}

:host ::ng-deep .p-card-content {
    padding: 0 !important;
}

:host ::ng-deep .p-button.p-button-text.p-button-icon-only {
    background: transparent !important;
}

:host ::ng-deep .p-button.p-button-text.p-button-icon-only:focus {
    outline: none !important;
    border: none !important;
}

:host ::ng-deep .p-button.p-button-text.p-button-danger {
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: auto !important;
}

:host ::ng-deep .p-button.p-button-text.p-button-danger:focus {
    outline: none !important;
    border: none !important;
}

.error-message-text {
    color: rgb(var(--danger-button-bg-rgb)) !important;
}