:root {
  --chat-button-text-color: #FFFFFF;
  --chat-ai-companion-bg: #3680C0;
  --chat-direct-chat-bg: #F49F43;
  --chat-group-chat-bg: #ED6A54;
  --chat-content-button: #14AE5C;
  --input-border-color: #0000001A;
  --trash-color: #B3261E;
}

.form-label {
  display: block;
  color: var(--gray-500);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}