.onecx-chat-sidebar {
  width: 360px !important;
  .p-sidebar-content {
    padding: 0;
    height: 100vh;
    background: #ffffff;
  }
  @media (max-width: 768px) {
    width: 100vw !important;
    max-width: 100vw !important;
  }
  @media (max-width: 480px) {
    .p-sidebar-content {
      padding: 0;
    }
  }
}
